*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(83, 247, 7);
}

button{
    background-color: rgb(8, 27, 12);
    color: white;
    border: none;
    padding: 7px;
    margin-left: 20px;
    margin-top: 30px;
}
.info{
    height: 80vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: rgb(8, 27, 12);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.info h1{
    color: white;
}

.info input{
    padding: 7px;
    margin: 10px;
    color: black;
    border: 2px solid rgb(83, 247, 7);
    outline: none;
}

.info button{
    padding: 6px;
    width: 100px;
    border: none;
    background-color: rgb(83, 247, 7);
    margin-bottom: 10px;
}

.info p{
    color: orangered;
    text-decoration: underline;
}